.new-expense {
    background-color: #00203FFF;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    color: #ADEFD1FF;
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #ADEFD1FF;
    color: white;
    border-radius: 12px;
   margin-top: 20px;
   color: #00203FFF;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: rgb(149, 213, 184);

  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }